appdirs
beautifulsoup4
bs4
certifi
chardet
colorama
cssselect
fake-useragent
html5lib
idna
lxml
numpy
pandas
parse
pyee
pyppeteer
pyquery
python-dateutil
pytz
requests
requests-html
selenium
six
soupsieve
stem
tqdm
urllib3
w3lib
webencodings
websockets
